@import "../../globals";

@media (max-width: $break-point) {
  .paragraph {
    text-rendering: optimizeLegibility;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .codeContainer {
    text-rendering: optimizeLegibility;
    margin-left: -30px;
    margin-right: -30px;
    .code {
      background-color: #f8f8f8;
      padding-left: $panel-container-padding;
      padding-right: $panel-container-padding;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      color: black;
    }
  }

  .codespan {
    text-rendering: optimizeLegibility;
    background-color: #f8f8f8;
  }

  .section {
    font-size: 16px;
    line-height: 1.5;
    font-family: $legible-font;
    h1 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
    h2 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
    h3 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
    h4 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
    h5 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
    h6 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
  }
}


@media (min-width: $break-point) {
  .paragraph {
    text-rendering: optimizeLegibility;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .codeContainer {
    text-rendering: optimizeLegibility;
    margin-left: -30px;
    margin-right: -30px;
    .code {
      background-color: #f8f8f8;
      padding-left: $panel-container-padding;
      padding-right: $panel-container-padding;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      color: black;
    }
  }

  .codespan {
    text-rendering: optimizeLegibility;
    background-color: #f8f8f8;
  }

  .section {
    font-size: 18px;
    line-height: 1.5;
    font-family: $legible-font;
    h1 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
    h2 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.12;
      letter-spacing: -.022em;

    }
    h3 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
    h4 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
    h5 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
    h6 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }
  }
}
