@import "../../globals";

@media (max-width: $break-point) {

  .root {
    > * {
      margin-top: 20px;
    }
  }

  .summary {
    em {
      color: $red;
    }
    padding-left: 1em;
    border-left: 1px solid #eee;
    font-size: 16px;
    line-height: 1.5;
    font-family: $legible-font;
  }

  .titleBox {
    text-rendering: optimizeLegibility;
    font-family: $title-font;

    > * + * {
      margin-top: 0.25em;
    }

    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }

    .byLine {
      font-weigth: 350;
      font-family: $legible-font;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: -.004em;
      a {
        text-transform: uppercase;
        font-size: 14px;
        color: $legible-font-color;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: $break-point) {
  .root {
    margin-top: 60px;
    > * + * {
      margin-top: 35px;
    }
  }

  .summary {
    em {
      color: $red;
      font-style: normal;
      font-weight: bold;
    }
    color: $red;
    padding-left: 1.64em;
    border-left: 1px solid #eee;
    font-size: 16px;
    line-height: 1.5;
    font-family: $legible-font;
  }

  .titleBox {
    text-rendering: optimizeLegibility;
    font-family: $title-font;

    > * + * {
      margin-top: 0.25em;
    }


    .title {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.12;
      letter-spacing: -.022em;
    }

    .byLine {
      font-weigth: 350;
      font-family: $legible-font;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: -.004em;
      a {
        text-transform: uppercase;
        font-size: 14px;
        color: $legible-font-color;
        text-decoration: none;
      }
    }
  }
}
