@import "../globals";

@media (max-width: $break-point) {
  .media {  }
  .media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
  .img {float:left; margin-right: 10px;}
  .img--rev {float:right; margin-left: 10px;}
  .img img {display:block; width: 75px;}
  .bd {
    > * + * {
      margin-top: 0.5em;
    }
  }
  .heading {font-weight: bold; color: #fff; font-size: 2.0em; padding-bottom: 0.15em;}
  .description {font-size: 1.5em; margin: 0; padding: 0; color: #AAA;}

  .panelContainer {
    background-image: radial-gradient(ellipse at center,
                                      rgba(0,0,0,0.05) 0%,
                                      rgba(0,0,0,0.95) 100%),
                      url("/assets/images/hero1.png");
    padding: 0 $panel-container-padding;
    padding-top: 5em;
    padding-bottom: 3em;
    flex: 1;
    border-bottom: #444;
    background-size: cover;
    background-position: center center;
  }

  .panelContent {
    width: 100%;
    font-family: $legible-font;
    color: $legible-font-color;
    margin: 0 auto;
  }
}

@media (min-width: $break-point) {
  .media {}
  .media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
  .img {float:left; margin-right: 20px;}
  .img--rev {float:right; margin-left: 10px;}
  .img img {display:block; width: 150px; clip-path: circle(75px at center);}
  .bd {
    > * + * {
      margin-top: 0.5em;
    }
  }
  .heading {font-weight: bold; color: #fff; font-size: 2.5em; padding-bottom: 0.15em;}
  .description {font-size: 2em; margin: 0; padding: 0; color: #AAA;}

  .panelContainer {
    background-image: radial-gradient(ellipse at center,
                                      rgba(0,0,0,0.05) 0%,
                                      rgba(0,0,0,0.95) 100%),
                      url("/assets/images/hero1.png");
    padding: 0 $panel-container-padding;
    padding-top: 5em;
    padding-bottom: 3em;
    flex: 1;
    border-bottom: #444;
    background-size: cover;
    background-position: center center;
  }

  .panelContent {
    > * + * {
      margin-left: $standard-gutter;
    }

    width: $panel-content-width;
    font-family: $legible-font;
    color: $legible-font-color;
    margin: 0 auto;
  }
}
