@import "../globals";

@media (max-width: $break-point) {

  .panelContainer {
    padding: 0 $panel-container-phone-padding;
  }

  .panelContent {
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    font-family:  medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.004em;
    font-family: $legible-font;
    color: $legible-font-color;
    margin: 0 auto;
  }
}


@media (min-width: $break-point) {

  .panelContainer {
    padding: 0 $panel-container-padding;
  }

  .panelContent {
    letter-spacing: -.004em;
    width: $panel-content-width;
    font-family: $legible-font;
    color: $legible-font-color;
    margin: 0 auto;
  }
}
