$primary-color: #288ECC;
$primary-color-dark: hsl(206,52,12);
$primary-color-light: hsl(206,100,65);

$grey: whitesmoke;
$grey-border: #ddd;
$white: white;

// Fonts
$legible-font: Georgia, Times, 'Times New Roman', serif;
// $legible-font-color: #66757f;
$legible-font-color: rgba(0,0,0,.8);
$title-font: "Helvetica Neue", "Helvetica", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
$title-font-color: $primary-color-dark;

// Sizing
$panel-container-padding: 30px;
$panel-container-phone-padding: 10px;
$panel-content-width: 650px - ($panel-container-padding*2);
$standard-gutter: 20px;

// Responsive
$panel-container-phone-padding: 10px;
$break-point: 600px;
